section {
  min-width: 65em;

  .selection {
    &__block {
      display: flex;
      justify-content: space-between;
      border: 1px solid #dedbdb;
    }
  }

  .translation {
    &__block {
      display: flex;
    }
  }
}
