<section>
  <div class="selection__block">
    <app-button-toggle-group [selectedLang]="sourceLng" (selectedLanguage)="onLngSelect($event, 'sourceLng')"></app-button-toggle-group>

    <button (click)="changeSourceLng()" mat-icon-button matTooltip="Change languages">
      <mat-icon>swap_horiz</mat-icon>
    </button>

    <app-button-toggle-group [selectedLang]="targetLng" (selectedLanguage)="onLngSelect($event, 'targetLng')"></app-button-toggle-group>
  </div>

  <div class="translation__block">
    <app-card [sourceLng]="sourceLng" [targetLng]="targetLng"></app-card>
    <app-translation-card></app-translation-card>
  </div>
</section>
