<mat-button-toggle-group (change)="onChange($event)" [value]="selectedLang">
  <mat-button-toggle *ngFor="let language of defaultLanguages" [value]="language">{{language.name}}</mat-button-toggle>
</mat-button-toggle-group>

<div>
<button mat-button (click)="toggleAutocomplete()"
        matTooltip="Select language">
  <i class="material-icons">keyboard_arrow_down</i>
</button>
<form *ngIf="showLanguagePanel">
  <ng-container *ngIf="languages$ | async as languages">
    <mat-form-field *ngIf="filteredOptions$ | async as filteredOptions">
      <input type="text"
             #matAutocompleteTrigger
             placeholder="Pick one"
             matInput
             [formControl]="control"
             [matAutocomplete]="auto" (keyup)="onAutocompleteKeyUp(matAutocompleteTrigger.value, languages)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let language of filteredOptions"
                    [value]="language"
                    (onSelectionChange)="onLanguageChange($event)"
        >{{language.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</form>
</div>
